body {
    background-color: #043028;
    font-size: 14pt;
}

.item1 {
    background-image: url("../media/2.jpg");
    color: white;
    background-size: cover;
}


.item21 { grid-area: nav1; }
.item22 { grid-area: nav2; }
.item23 { grid-area: nav3; }
.item24 { grid-area: nav4; }
.item25 { grid-area: nav5; }
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }
.grid-container {
    display: grid;
    gap: 15px;
    padding: 0px;
    margin: 0px;
    grid-template-areas: 
        "header header header header header"
        "nav1 nav2 nav3 nav4 nav5"
        "main main main main main"
        "footer footer footer footer footer";
  }
  
  .grid-item {
    background-color: rgb(218, 233, 215);
    text-align: center;
    padding: 10px;
  }
  

   .item21, .item22, .item23, .item24, .item25 {
    background-color: rgba(164, 193, 157, 0.815);
    border-radius: 15px;
    position: relative;
  }

.item21:hover, .item22:hover, .item23:hover, .item24:hover, .item25:hover, .item21:active {
    background-color: rgba(208, 228, 203, 0.83);
}

a {
    color: black;
    text-decoration: none;
}

.link {
  position: absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}


.top { grid-area: h; }
.p1 { grid-area: p1; }
.p2 { grid-area: p2; }
.p3 { grid-area: p3; }
.p4 { grid-area: p4; }
.i1 { grid-area: i1; }
.i2 { grid-area: i2; }
.i3 { grid-area: i3; }
.i4 { grid-area: i4; }
.grid-container2 {
    display: grid;
    gap: 15px;
    padding: 0px;
    margin: 0px;
    grid-template-areas: 
        "h h"
        "i1 p1"
        "p2 i2"
        "i3 p3"
        "p4 i4"    
    ;
  }



  .i1, .i2, .i3, .i4 {
    width: 100%;
    height: 100%;
  }
 
  .img1 {
    width: 100%;
    height: 100%;
  }